__pycache__/
C:\Users\Pavel\PycharmProjects\TDElenaParser\Parser\__pycache__
C:\Users\Pavel\PycharmProjects\TDElenaParser\Parser\Config\__pycache__
# intellij configs
.idea/
# folder with parsing results files
Result_in_CSV_format/



